<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="MyBaseUrl" value="https://localhost:8090/"/>
    <add key="TestOP" value="https://localhost:8080/"/>
    <add key="CheckHttpsCertificates" value="False"/>
    <!--add key="TestOP" value="https://rp.certification.openid.net:8080/"/>
    <add key="CheckHttpsCertificates" value="True"/-->
  </appSettings>
</configuration>